<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href = "{% static 'css/bootstrap.min.css' %}" type="text/css">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <style> 
      html,body{
          height:100%;
      }
      .border-rounded {
          border: 2px solid black ;
          border-radius: 15px; /* Bo tròn góc với bán kính 15px */
      }
      
  </style>
  </head>
  <body>
    <div class="container-fluid" style="min-height:95%;">
        <div class="row sticky-top" style="background-color: rgb(174, 236, 215);height:40px;">
            <div class="nav flex-column col">
                {% block logout %}
                {% endblock %}
            </div>
        </div>
        <div class="row" style="background-color: azure;">
            
            <div class="col-xl-2 col-sm-5" >
                <div class="row" style="top: 40px ;position: sticky ;padding-top: 10px;padding-bottom: 10px;">
                    <div class="col">
                        <div class="bs-sliderbar border-rounded" style="top:30px;min-height: 100vh;">
                            <ul class="nav flex-column " style="text-align: center;">
                                <table class="table table-striped">
                                <thead>
                                {% block account_info %} {% endblock %}
                                </thead>
                                <tbody>
                                {% block chucnang %}
                                {% endblock %}
                                <tbody>
                                </table>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-10 col-sm-7" style="padding-top: 10px;padding-bottom: 10px;">
                <div class="row border-rounded " style="min-height: 100vh;background-color:white;" >
                    <div class="row" id="content" style="padding:20px;">
                        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-3" id="content" style="padding-top: 20px;" >
                        {% block content %} {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <footer class="footer" style="background-color: rgb(174, 236, 215);height: 30px;">
        <div>
            asdasd
        </div>
    </footer>
</body>
</html>
