<form method="post" id="customer_input">
  <table>
  <tr>
    <th><label for="id_phone_number">Phone number:</label></th>
    <td>
      <input id="phone_input" type="text" name="phone_number" maxlength="15" required id="id_phone_number">
    </td>
  </tr>
  <tr>
    <th><label for="id_name">Name:</label></th>
    <td>
      <input id="name" type="text" name="name" maxlength="40" required id="id_name">
    </td>
  </tr>

  <tr>
    <th><label for="id_address">Address:</label></th>
    <td>

      <input id='address' type="text" name="address" maxlength="40" required id="id_address">
    </td>
  </tr>

  <tr>
    <td>

      <button id="customerInfo_submit">Submit</button>
    </td>
  </tr>

</table>
</form>

<a href="#" id="back_tran"> back to transaction</a>