<!DOCTYPE html>
<html lang="en">
<head>
        <title>JS DOM Manipulations</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        html,body{
            height:100%;
        }
        .border-rounded {
            border: 2px solid black;
            border-radius: 15px; /* Bo tròn góc với bán kính 15px */
        }
        .bottom {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    </style>
    
</head>
<body>
<div class="container-fluid" style="min-height:0%;">
    <div class="row sticky-top" style="background-color: aquamarine;height:30px;">
        <div class="col">
            <p>sadsdsadsadad</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-2 col-sm-5" style="background-color: azure;">
            <div class="bs-sliderbar" style="top: 30px;position:sticky;height: 100vh;">
                <p style="height: 50px;"></p>
                <image src="test.jpg" style="height: 200px;width: 210px"></image>
                <ul class="nav flex-cloumn">
                    <li>asdsad</li>
                    <li>asdsad</li>    
                    <li>asdsad</li>
                    <li>asdsad</li>
                    <li>asdsad</li>
                    <li>asdsad</li
                    <li>asdsad</li>
                    <li>asdsad</li>    
                    <li>asdsad</li>
                    <li>asdsad</li>
                    <li>asdsad</li>
                    <li>asdsad</li>
                    <li>asdsad</li>
                    <li>asdsad</li>    
                    <li>asdsad</li>
                    <li>asdsad</li>
                    <li>asdsad</li>
                    <li>asdsad</li>
                    <li>asdsad</li>
                    <li>asdsad</li>    
                    <li>asdsad</li>
                    <li>asdsad</li>
                    <li>asdsad</li>
                    <li>asdsad</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-7 border-rounded">
            <p>asdasdasdasd</p>
            <li>asdsad</li>
            <li>asdsad</li>
            <li>asdsad</li>
            <li>asdsad</li>
            <li>asdsad</li>
            <li>asdsad</li>
            <li>asdsad</li>
            <li>asdsad</li>                    <li>asdsad</li>
            <li>asdsad</li>
            <li>asdsad</li>
            <li>asdsad</li>                    <li>asdsad</li>
            <li>asdsad</li>
            <li>asdsad</li>
            <li>asdsad</li>                    <li>asdsad</li>
            <li>asdsad</li>
            <li>asdsad</li>
            <li>asdsad</li>                    <li>asdsad</li>
            <li>asdsad</li>
            <li>asdsad</li>
            <li>asdsad</li>                    <li>asdsad</li>
            <li>asdsad</li>
            <li>asdsad</li>
            <li>asdsad</li>                    <li>asdsad</li>
            <li>asdsad</li>
            <li>asdsad</li>
            <li>asdsad</li>                    <li>asdsad</li>
            <li>asdsad</li>
            <li>asdsad</li>
            <li>asdsad</li>                    <li>asdsad</li>
            <li>asdsad</li>
            <li>asdsad</li>                    <li>asdsad</li>
            <li>asdsad</li>
            <li>asdsad</li>
            <li>asdsad</li>                    <li>asdsad</li>
            <li>asdsad</li>
            <li>asdsad</li>
            <li>asdsad</li>                    <li>asdsad</li>
            <li>asdsad</li>
            <li>asdsad</li>                    <li>asdsad</li>
            <li>asdsad</li>
            <li>asdsad</li>
            <li>asdsad</li>                    <li>asdsad</li>
            <li>asdsad</li>
            <li>asdsad</li>
            <li>asdsad</li>                    <li>asdsad</li>
            
        </div>
    </div>
</div>
<footer>
    <div class="container-fluid" style="background-color: aquamarine;height: 30px;">
        asdasd
    </div>
</footer>
</body>
</html>