<form id="transaction_form" method="post">
  <div class="row">
    <div class="col-6"></div>
    <div class="col-1">
      <label for="id_barcode" class="col-form-label">barcode</label>
    </div>
    <div class="col-2">
      <input type="text" id="id_barcode" class="form-control" aria-describedby="passwordHelpInline" name="barcode">
    </div>
    <div class="col-1">
      <label for="id_quantity" class="col-form-label">Quantity</label>
    </div>
    <div class="col-1">
      <input type="text" id="id_quantity" class="form-control" value="1" aria-describedby="passwordHelpInline" name="quantity">
    </div>

    <div class="col-1">
      <button id="add">+</button>
    </div>

  </div>
  <table id="your_cart" style="margin-right:2px;margin-top: 0px;width: 90%;height: 90%;border: 2px solid black ; border-radius: 10px;overflow: hidden;">    
  </table>
</form>


<form id="customer_form" method="get">
<div class="row-2">
  <div class="col-10"></div>
  <button type="submit" id="tran_to_customer">xác nhận</button>
</div>
</form>